In [61]:
import pandas as pd
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import numpy as np
import matplotlib.pyplot as plt
import re

In [62]:
consumer_key = "UZsGlNd58jFSnkbzmiIj0asIH"
consumer_key_secret = "cdv0HfYrqJ7517qXQnDy7y24oaHLbmZ2z2l2ZFECzS5EwylSEG"
access_token = "1452533975180738562-iDShopCCVrvtIwlTgUzP94UHJIyjYV"
access_token_secret = "N1807EGuy1F5bCMZEreYpQfsVdiEQ7ABjpQfvMxZNOxPq"

In [87]:
auth = tweepy .OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [64]:
def cleanText(text):
    text = re.sub(r"@[A-Za-z0-9]+", '', text) #removed @mentions
    text = re.sub(r'#', '', text) #removing # symbol
    text = re.sub(r'RT[\s]+', '', text) #removing retweets RT
    text = re.sub(r'https?:\/\/\S+', '', text) #removes the hyperlink

    return text

In [65]:
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [66]:
def getAnalysis(score):
    if score < 0:
        return "Negative"
    elif score == 0:
        return "Neutral"
    else:
        return "Positive"

In [67]:
def get_keyword_tweets(keyword, count):
    items = api.search_30_day(label='development', query=keyword, maxResults= count)
    return items

We need to get favorite_count, retweet_count, lang, text

In [69]:
test_list = get_keyword_tweets("infosys",100)
test_list[0]._json["text"]

'@Infosys_GSTN @cbic_india Can u pls share gst officer contact no   or you may approach officer to resolve. \nWe are facing huge business loss'

In [70]:
test_list[0].retweet_count

0

test_list is a list with data type Status

In [72]:
df = pd.DataFrame({"tweet": [tweet.text for tweet in test_list], "language":[tweet.lang for tweet in test_list],"likes": [tweet.favorite_count for tweet in test_list],"retweets": [tweet.retweet_count for tweet in test_list]})
df

,tweet,language,likes,retweets
0,@Infosys_GSTN @cbic_india Can u pls share gst ...,en,0,0
1,RT @Arunstockguru: 1st Multibagger Pick of Top...,en,0,0
2,RT @SimonPe35298675: @GoodLawProject I contact...,en,0,0
3,RT @gnrjsr123: @jbgajjar2000 @PAlearner I boug...,en,0,0
4,@nsitharaman @Infosys @TCS @timesofindia @PMOI...,en,0,0
...,...,...,...,...
95,"@themukulagrawal INFOSYS, ITC,HUL,IRCTC.",ro,0,0
96,@tweet_avina @Infosys @nsitharamanoffc @nsitha...,en,0,0
97,@CAVISHALGARG3 @CaSondagar @CaHimalaya @cbic_i...,en,0,0
98,@trikaldarshiii @Infosys @Finacle @nsitharaman...,en,0,0
99,"@themukulagrawal Tata power, tatamotors, infos...",pl,0,0

In [74]:

df = df[df.language == "en"]

In [75]:

df

,tweet,language,likes,retweets
0,@Infosys_GSTN @cbic_india Can u pls share gst ...,en,0,0
1,RT @Arunstockguru: 1st Multibagger Pick of Top...,en,0,0
2,RT @SimonPe35298675: @GoodLawProject I contact...,en,0,0
3,RT @gnrjsr123: @jbgajjar2000 @PAlearner I boug...,en,0,0
4,@nsitharaman @Infosys @TCS @timesofindia @PMOI...,en,0,0
...,...,...,...,...
93,@IncomeTaxIndia @Infosys @FinMinIndia @nsithar...,en,1,0
94,@GoodLawProject I contacted the government and...,en,1,1
96,@tweet_avina @Infosys @nsitharamanoffc @nsitha...,en,0,0
97,@CAVISHALGARG3 @CaSondagar @CaHimalaya @cbic_i...,en,0,0
98,@trikaldarshiii @Infosys @Finacle @nsitharaman...,en,0,0

In [76]:
df["Subjectivity"] = df["tweet"].apply(getSubjectivity)
df["Polarity"] = df["tweet"].apply(getPolarity)

In [91]:
df

,tweet,language,likes,retweets,Subjectivity,Polarity
0,@Infosys_GSTN @cbic_india Can u pls share gst ...,en,0,0,0.900000,0.400000
1,RT @Arunstockguru: 1st Multibagger Pick of Top...,en,0,0,0.500000,0.500000
2,RT @SimonPe35298675: @GoodLawProject I contact...,en,0,0,0.000000,0.000000
3,RT @gnrjsr123: @jbgajjar2000 @PAlearner I boug...,en,0,0,0.500000,0.500000
4,@nsitharaman @Infosys @TCS @timesofindia @PMOI...,en,0,0,0.666667,-0.333333
...,...,...,...,...,...,...
93,@IncomeTaxIndia @Infosys @FinMinIndia @nsithar...,en,1,0,0.454545,0.136364
94,@GoodLawProject I contacted the government and...,en,1,1,0.000000,0.000000
96,@tweet_avina @Infosys @nsitharamanoffc @nsitha...,en,0,0,0.000000,0.000000
97,@CAVISHALGARG3 @CaSondagar @CaHimalaya @cbic_i...,en,0,0,0.000000,0.000000
98,@trikaldarshiii @Infosys @Finacle @nsitharaman...,en,0,0,0.000000,0.000000

In [92]:
df["Analysis"] = df["Polarity"].apply(getAnalysis)

In [93]:
df

,tweet,language,likes,retweets,Subjectivity,Polarity,Analysis
0,@Infosys_GSTN @cbic_india Can u pls share gst ...,en,0,0,0.900000,0.400000,Positive
1,RT @Arunstockguru: 1st Multibagger Pick of Top...,en,0,0,0.500000,0.500000,Positive
2,RT @SimonPe35298675: @GoodLawProject I contact...,en,0,0,0.000000,0.000000,Neutral
3,RT @gnrjsr123: @jbgajjar2000 @PAlearner I boug...,en,0,0,0.500000,0.500000,Positive
4,@nsitharaman @Infosys @TCS @timesofindia @PMOI...,en,0,0,0.666667,-0.333333,Negative
...,...,...,...,...,...,...,...
93,@IncomeTaxIndia @Infosys @FinMinIndia @nsithar...,en,1,0,0.454545,0.136364,Positive
94,@GoodLawProject I contacted the government and...,en,1,1,0.000000,0.000000,Neutral
96,@tweet_avina @Infosys @nsitharamanoffc @nsitha...,en,0,0,0.000000,0.000000,Neutral
97,@CAVISHALGARG3 @CaSondagar @CaHimalaya @cbic_i...,en,0,0,0.000000,0.000000,Neutral
98,@trikaldarshiii @Infosys @Finacle @nsitharaman...,en,0,0,0.000000,0.000000,Neutral

In [ ]:
!pip install geocoder

In [90]:
woeid = "2295019"
trends = api.trends_available()

AttributeError: 'API' object has no attribute 'trends_available'

In [95]:
frames = []
for i in range(10):
    frames.append(get_keyword_tweets("infosys",100))

In [96]:
frames2 =[]
for test_l in frames:
    df = pd.DataFrame({"tweet": [tweet.text for tweet in test_l], "language":[tweet.lang for tweet in test_l],"likes": [tweet.favorite_count for tweet in test_l],"retweets": [tweet.retweet_count for tweet in test_l]})
    frames2.append(df)

In [97]:
big_table = pd.concat(frames2)

In [99]:
big_table['tweet'] = big_table['tweet'].apply(cleanText)
big_table["Subjectivity"] = big_table["tweet"].apply(getSubjectivity)
big_table["Polarity"] = big_table["tweet"].apply(getPolarity)

In [101]:
big_table["Analysis"] = big_table["Polarity"].apply(getAnalysis)

In [102]:
big_table

,tweet,language,likes,retweets,Subjectivity,Polarity,Analysis
0,: 1st Multibagger Pick of Top Investors: \n\n1...,en,0,0,0.500000,0.500,Positive
1,: SCN by GST Department\n\n _india _GSTâ€¦,de,0,0,0.000000,0.000,Neutral
2,: SCN by GST Department\n\n _india _GSTâ€¦,de,0,0,0.000000,0.000,Neutral
3,: SCN by GST Department\n\n _india _GSTâ€¦,de,0,0,0.000000,0.000,Neutral
4,Wanted to save some money for my German exam a...,en,1,0,0.000000,0.000,Neutral
...,...,...,...,...,...,...,...
95,I wish I would have remained in touch with ...,en,3,1,0.000000,0.000,Neutral
96,": We were facing ""Invalid JSON"" error while up...",en,0,0,0.744444,-0.125,Negative
97,"Dear ,\n\nMay we request you to writeâ€¦",en,0,0,0.000000,0.000,Neutral
98,@_DipikaR: Twitter: ðŸ‘‹ from Strasbourg. \nDid R...,en,0,0,1.000000,-0.500,Negative
99,"We were facing ""Invalid JSON"" error while uplo...",en,8,2,0.600000,0.000,Neutral